version: '3.8'

services:
  nginx:
    image: nginx:alpine
    container_name: t-finance-nginx
    ports:
      - "80:80"
    volumes:
      - ./dist:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
    networks:
      - t-finance-network

networks:
  t-finance-network:
    driver: bridge


